/* Reseteo de Estilos */

*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

/* Estilos Generales */

.header {
    height: 32px;
    width: 100%;
    background-color: black;
}

.contador {
    font-size: 2em;
    color: white;
}

.map {
    display: grid;
    grid-template-columns: repeat(16, 64px);
}

.map div {
    background-image: url(/src/suelo.png);
    /* border: 1px solid gray; */
    display: flex;
    width: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
}

#jugador {
    margin: auto;
}